/* Fonts */
$main-fz: 14px;
$gotham: 'Gotham Pro', Sans-Serif;
$roboto: 'Roboto', Sans-Serif;

/* Colors */
$primary_light: #ffffff;
$primary_black: #000000;
$secondary_light: #f2f4f8;
$primary_dark: #202124;
$secondary_dark: #242d34;
$title_section: #1a1a1c;
$primary_color: #0f73ef;
$primary_color-light: #197fff;
$primary_color-dark: #106de0;
$secondary_color: #0f73ef;
$twenty_color: #d3d3d3;
$thirty_color: #abadb9;
$forty_color: #ccceda;
$fifty_color: #7c7e88;
$light_grey: #58595f;
$medium_grey: #7e8a9f;
$dark_grey: #4b576c;
$comment_grey: #92929d;
$radio_unchecked: #cbcdd5;
$shadow_grey: #dcdee9;
$shadow_grey_light: #e5e7ec;
$shadow_grey_dark: #d6dadc;
$shadow_table: #eaedf4;
$row_light_grey: #f6f8fc;
$auth_background: #135cb6;
$more_icon_color: #1c77eb;